/*--------- adjustment ----------*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Droid Sans;
    src: url(../fonts/DroidSans.ttf);
}

html {
    width: 100%;
    height: 100%;
    font: 400 16px 'Droid Sans', Arial, sans-serif;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    color: #555;
    background-color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.app_wrapper {
	max-width: 30rem;
/*	max-width: 480px;*/
	margin: 0 auto;
}

/* ????????????????????????????? */
/*
.no_gutters {
	padding: 0;
}
*/

/*--------- header ----------*/

.app_header {
	background-color: #00A08C;
	color: #fff;	
	font-size: 1rem;
	line-height: 4.4rem;
}
	.app_header .logo {
		background-color: #0088B4;	
	}
		.app_header .logo a h1 {
			display: block;
			color: #fff;
/*			font-family: Arial, sans-serif;*/
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 4.4rem;
			letter-spacing: .07em;
			margin: 0;
		}
	.page_name {
	}
	.arrow_left_btn {
		font-size: 1.5rem;
		border-left: 1px solid #29AF9E;
		border-right: 1px solid #6AC7BC;
	}
	.menu_burger {
		font-size: 1.5rem;
	}

/*--------- main ----------*/

.intro {
	border-bottom: 1px solid #E2E2E2;
	padding: 1.12rem 1.6rem;
	letter-spacing: .014em;
}

.person {
	border-bottom: 1px solid #E2E2E2;
	padding: 0 1.2rem;
}
	.person_name {
		position: relative;
		padding: 1.3rem 1.5em 1.4rem 2.7em;
	}
	.person_name:before {
		position: absolute;
		content: '\f007';
		font: 400 1.3rem FontAwesome;
		top: 1.3rem;
		left: .7rem;
	}
	.person_name:after {
		position: absolute;
		content: '\f107';
		font: 400 1.5rem FontAwesome;
		top: 1.2rem;
		right: .5rem;
	}
	.person_admin .person_name {
		font-weight: bold;
	}
	.person_admin .person_name:before {
		content: '\f005';
		color: #FFC141;
	}
.person_edited {
	color: #999;
	background-color: #F6F6F6;
}
	.person_edited .person_name:before {
		content: '\f14b';
		color: #999;
	}
	.person_edited .person_name:after {
		content: '\f106';
		color: #999;
	}

/* -------- form styles start ------------*/
.app_form_block {
	padding: 0 .5rem;	
}
	.app_form .col_left {
		float: left;
		width: 48%;
	}
	.app_form .col_right {
		float: right;
		width: 48%;
	}

/* ---- Bootstrap customizing start ---- */
.app_form .form-control {
	height: 2rem;
    color: #999;
    font: 400 1rem 'Droid Sans', Arial, sans-serif;
    border-color: #999;
	margin-bottom: .5rem;
}
/* ---- Bootstrap customizing end ---- */

.app_select_block select {
    background: #fff url('../img/arrow_down_grey.png') right center no-repeat;
	background-size: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
}

.app_select_block select::-ms-expand {
    display: none;
}
/* -------- form styles end -----------*/

.app_tab_block {
	clear: both;
	margin: 1rem .5rem;
	padding: 0;
}
	.app_btn {
		display: block;
		height: 2rem;
		border-radius: 4px;
		font-weight: bold;
		line-height: 2rem;
		text-align: center;
	}
	.app_tab_btn {
		float: left;
		width: 50%;
		background-color: #fff;
		color: #555;
		border: 2px solid #555;
	}
	.app_tab_btn:first-child {
		border-radius: 4px 0 0 4px;
		border-right-width: 1px;
	}
	.app_tab_btn:last-child {
		border-radius: 0 4px 4px 0;
		border-left-width: 1px;
	}
	.app_tab_btn:hover {
		background-color: #555;
		color: #fff;
	}

.app_add {
	width: 50%;
	background-color: #999;
	color: #fff;
	margin: 1rem auto 1.5rem;
}

.app_add:hover {
	background-color: #555;
	color: #fff;
}

/*--------- footer ----------*/

.app_footer {
	background-color: #00A08C;
	padding: 1rem 1rem;
}
	.app_footer_btn {
		background-color: #00A08C;
		color: #fff;
		border: 2px solid #fff;
	}
	.app_footer_btn:hover {
		background-color: #fff;
		color: #00A08C;
	}
/*
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
*/